<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="logs/_${date:format=dd-MMM-yyyy}/_${date:format=dd-MMM-hh}.log"
				archiveFileName="logs/archives/Log.{#}.log"
				archiveDateFormat="dd-MMM-yyyy"
				archiveNumbering="Date"
				archiveEvery="Day"
				maxArchiveFiles="840"
				layout="${newline}${date:format=dd-MMM_HH-mm-ss}|${level:uppercase=true}|${message}|${stacktrace}${newline}${callsite:className=true:fileName=true:methodName=true}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile"  />
	</rules>
</nlog>
